* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --message-color: #f4c6c6;
    --font: monospace;
}

/* Оснонвной контейнер документа */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262b33;
}

/* Виджет-чат */
.widget-chat {
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px dashed white; */
    background-color: #8D6262;
    background-image: url('./bg.svg');
    border-radius: 10px;
}

/* Заголовок виджет-чата */
.head {
    display: flex;
    align-items: center;
    width: 100%;
    height: 7%;
    background-color: #393232;
    /* border: 1px solid yellow; */
}

/* Заголовок шапки виджет-чата */
.head__title {
    width: 100%;
    color: white;
    text-align: center;
    font-family: var(--font);
}

/* Контент-блок виджет-чата */
.content-block {
    width: 100%;
    height: 85%;
    /* border: 1px solid rgb(0, 255, 42); */
    padding: 0.3rem;
    overflow: auto;
}

.edit-title {
    width: 400px;
    height: 20px;
    position: absolute;
    top: 80%;
    background-color: var(--message-color);
    display: none;
}
.context-menu {
    display: none;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 200px;
    height: 300px;
    background-color: white;
    z-index: 5;
}

.context-menu__btn {
    width: 100%;
    background-color: gray;
}

/* Обертка для сообщений */
.wraper__message {
    min-height: 100%;
    height: max-content;
    /* background-color: rgb(161, 161, 161); */
}

/* Контейнер сообщения */
.message_container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.3rem 0.8rem;
}

/* Сообщение */
.message {
    max-width: 70%;
    min-width: 5%;
    width: max-content;
    height: max-content;
    margin-left: auto;
    word-wrap: break-word;
    background-color: var(--message-color);
    box-shadow: -5px 6px 7px 4px #393232;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    font-family: var(--font);
    font-size: 1rem;
}

/* Панель ввода сообщений видджет-чата */
.input-panel {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8%;
    /* border: 1px solid rgb(255, 0, 0); */
}

/* Поле ввода сообщений */
.message__input {
    width: 80%;
    height: 90%;
    border-radius: 15px;
    padding: 20px;
    resize: none;
    background-color: var(--message-color);
    transition: all 0.8s ease;
}

.message__input:hover {
    background-color: #cca2a2;
}

/* Кнопка отправки сообщений */
.btn__send {
    width: 20%;
    height: 90%;
    border-radius: 15px;
    cursor: pointer;
    background-color: var(--message-color);
    transition: all 0.8s ease;
}

.btn__send:hover {
    background-color: #cca2a2;
}